<ion-header>
  <ion-toolbar color="black">
    <ion-title>Amiibo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-toolbar color="secondary">
    <ion-title>Como deseja visualizar os amiibos?</ion-title>
  </ion-toolbar>
  -->
  <ion-card class="card" a routerLink="/amiibo/all-amiibo" routerLinkActive="active">
    <img src="https://i.imgur.com/WBdf51p.png">
    <ion-card-header>
      <ion-card-title class="card-text">Todos os amiibo</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" a routerLink="/tabs/home" routerLinkActive="active">
    <img src="https://i.imgur.com/HNs2gfn.png">
    <ion-card-header>
      <ion-card-title class="card-text">Séries de Amiibos</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
