<ion-header>
  <ion-toolbar color="black">
    <ion-title>Amiibo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-toolbar color="secondary">
    <ion-title>Como deseja visualizar os amiibos?</ion-title>
  </ion-toolbar>
  -->
  <ion-card class="card" a routerLink="/tabs/home" routerLinkActive="active">
    <ion-card-header>
      <img src="-">
      <ion-card-title class="card-text">Todos os amiibos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="card" a routerLink="/tabs/home" routerLinkActive="active">
    <ion-card-header>
      <img src="-">
      <ion-card-title class="card-text">Séries de Amiibos</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
