<ion-header>
  <ion-toolbar>
    <ion-title>Changelog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-button a routerLink="/tabs/about" routerLinkActive="active">Retornar para tela anterior</ion-button>
    </ion-card-header>
  </ion-card>
  <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Versão 0.3-Amiibo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>-Página com todos os amiibos adicionada</ion-card-title>
      <ion-card-title>-Ajuste visual do menu amiibo</ion-card-title>
      <ion-card-title>-Changelog atualizado</ion-card-title>
      <ion-card-title>-Adicionado Tela Changelog</ion-card-title>
      <ion-card-title>-Agora o botão changelog em About é fucional</ion-card-title>
      <ion-card-title>-Ajuste de resolução da Home</ion-card-title>
      <ion-card-title>-Novo ícone do Aplicativo</ion-card-title>
      <ion-card-title>-Ajustes na tela About</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Versão 0.2-Amiibo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>-Alterações na tela amiibo</ion-card-title>
      <ion-card-subtitle>-Adicionado menu de opções de visualização</ion-card-subtitle>
      <ion-card-title>-Alterações na tela inicial</ion-card-title>
      <ion-card-subtitle>-Aidionado um cartão de boas vindas</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Versão 0.1-Amiibo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>-Alguns ajustes visuais</ion-card-title>
      <ion-card-title>-Adicionado novas telas</ion-card-title>
      <ion-card-subtitle>-Home<p></p>-Amiibo<p></p>-About</ion-card-subtitle>
      <ion-card-title>-Adicionado tab de navegação inferior</ion-card-title>
      <ion-card-title>-Projeto iniciado</ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>
