<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ithumb">
    <ion-card-header>
      <img ion-card-image src="https://cdn02.nintendo-europe.com/media/images/10_share_images/others_3/amiibo_4/H2x1_Amiibo_main_image1600w.jpg">
      <ion-card-subtitle>AMIIC - My Amiibo Collection</ion-card-subtitle>
      <ion-card-title>Seja bem-vindo ao AMIIC</ion-card-title><br><br>
      <ion-button color="primary">Saiba mais</ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>
